@import "../../styles/colors.scss";

.navbar-container {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $primary-color;
  background-color: $secundary-color;
}
